table {
    width: 100%;
  }

  .mat-column-link {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 40% !important;
    width: 40% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-right: 1px solid black;
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    
    display:flex;
  justify-content:center;
  }
  
  .mat-column-desc {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 45% !important;
    width: 45% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    
    display:flex;
    justify-content:center;
  }
  
  .mat-column-SrNo {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
    border-right: 1px solid currentColor;
    text-align: center;
    word-break: break-word;
    
    display:flex;
    justify-content:center;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    
  }
 
  td.mat-cell, th.mat-header-cell {
    display:flex;
  justify-content:center;
  }