<div style="width: auto;">
  <h2 mat-dialog-title> {{ item }}</h2>
  <form (ngSubmit)="upload()" name="noteform" [formGroup]="noteForm">
    <mat-dialog-content>
      <mat-form-field appearance="outline">
        <mat-label> Title </mat-label>
        <input
          matInput
          placeholder="Enter the PDF name"
          formControlName="name"
          required>
        <mat-error *ngIf="!noteForm.controls['name'].valid"> Please give valid details </mat-error>
        <mat-hint> Name should be meaning full</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> Description </mat-label>
        <input
          matInput
          placeholder="Say something about this note"
          formControlName="desc">
        <mat-hint> Description will be help full </mat-hint>
      </mat-form-field>
      <input
        type="file"
        (change)="handleFileInput($event)"
        accept="application/pdf"
        formControlName="note"
        required
        style="display: none"
        #pickFile>
      <button (click)="pickFile.click()" mat-stroked-button style="margin-left: 5px">
        Select Note
        <mat-icon> folder </mat-icon>
      </button>
      <table><tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label> Select Department </mat-label>
            <mat-select formControlName="dept" required>
                <mat-option 
                *ngFor="let dept of depts"
                 [value]="dept">
                    {{dept}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="selectSubject">
            <mat-label> {{ subjectLabel }} </mat-label>
            <mat-select formControlName="subject" required>
              <mat-option
                *ngFor="let subject of subjects"
                [value]="subject.subjectCode">
                {{subject.subjectName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!noteForm.controls['subject'].valid"> Please choose subject </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="selectSemester">
            <mat-label> {{ semLabel }}</mat-label>
            <mat-select formControlName="semester" required>
              <mat-option
                *ngFor="let semester of semesters"
                [value]="semester">
                {{ semester }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!noteForm.controls['semester'].valid"> Select semester </mat-error>
          </mat-form-field>
        </td>
      </tr></table>
      <mat-divider></mat-divider>
      <div *ngIf="fileToUpload" style="margin-top: 10px">
        <strong> Selected Note </strong>
        <p> {{ selectedVideo }}</p>
        <label> Uploading... {{ uploadProgress ? uploadProgress + ' %' : '0 %'}}</label>
        <mat-progress-bar
          mode="determinate"
          style="margin-top: 10px"
          [value]="uploadProgress"></mat-progress-bar>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button type="submit" [disabled]="!noteForm.valid"> Upload </button>
      <button mat-flat-button mat-dialog-close> Cancel </button>
    </mat-dialog-actions>
  </form>
</div>
