<mat-toolbar color="primary" style="height: 10vh;">
  <button *ngIf ="logged" mat-icon-button >
    <mat-icon  (click)="navService.touggleNav()">menu</mat-icon>
  </button>
  <img
    src="../../assets/bcrecapc-logoicon.png"
    alt="Just like that"
    class="header-image">
  <span class="headerText">{{ title }}</span>
  <a *ngIf="logged" mat-button routerLink="/notice"> Notices </a>
  <span class="example-spacer"></span>
  <a *ngIf="!logged" mat-button routerLink="/notice"> Notices </a>
  <div *ngIf="logged">
  <button mat-raised-button [matMenuTriggerFor]="menu" class="headerMenuButton" (click)="rotate()"
          (menuClosed)="state = 'collapsed'">
    <span style="margin-left: 5px"> {{username}} </span>
    <mat-icon [@indicatorRotate]="state">
      expand_more
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon> person </mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon> logout </mat-icon>
      <span> Logout </span>
    </button>
  </mat-menu>
</div>
</mat-toolbar>
