<div class="container">
  <mat-spinner *ngIf="videos.length === 0"></mat-spinner>
  <mat-card class="card" *ngFor="let video of videos; let i = index">
    <mat-card-title class="cardTitle"> {{ video.title }}</mat-card-title>
    <img mat-card-image
         src="../../../assets/multimedia.svg"
         alt="Loading..."
         class="header-image">
    <mat-card-content>
      <p>
        {{ video.desc ? video.desc : 'No description provided'}}
      </p>
    </mat-card-content>
    <mat-card-actions class="cardActions">
      <button mat-button (click)="openDialog(video)">
        <mat-icon> visibility </mat-icon> WATCH
      </button>
      <button mat-button class="delBtn" (click)="delete(i)">
        <mat-icon> delete </mat-icon> DELETE
      </button>
    </mat-card-actions>
  </mat-card> 
</div>
