.example-card {
  min-width: 100px;
  max-width: 280px;
  min-height: 175px;
  margin-bottom: 50px;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 10px;
}
.example-header-image {
  background-image: url('https://www.pngkit.com/png/full/267-2678423_bacteria-video-thumbnail-default.png');
  background-size: cover;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
