.card {
  width: 220px;
  height: 200px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 30px;
  text-align: center;
  transition: 0.2s;
  background-color: #f5f5f5;
}

.cardImage{
  width: 120px;
  height: 120px;
}

.card:hover{
  box-shadow: 3px 3px 5px 2px gray;
  transform: scale(1.1);
  transition: 0.3s;
}

.uploadCardTitle{
  font-size: larger;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #e0e0e0;
}

@media screen and (max-width: 576px) {
  .card {
    width: 190px;
    height: 170px;
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .cardImage{
    width: 90px;
    height: 90px;
  }
  .uploadCardTitle{
    font-size: large;
  }
}
