<h2 mat-dialog-title> {{ video.title }} </h2>
<mat-dialog-content>
  <video width="450px" height="250px" controls autoplay style="background-color: black">
    <source src="https://studentportal-api.herokuapp.com/uploads/videos/1620751263739%20sd.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <p> {{ video.desc ? video.desc : 'No description provided'}} </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-dialog-close mat-button> Close </button>
</mat-dialog-actions>
