<h2 mat-dialog-title> {{ video.title }} </h2>
<mat-dialog-content>
  <video
    class="videoBoundary"
    controls
    controlsList="nodownload noremoteplayback"
    disablePictureInPicture
    autoplay
    muted="muted"
    [src]="video.link"
    type="video/mp4"
    #videoRef>
    Your browser does not support the video tag.
  </video>
  <p> {{ video.desc ? video.desc : 'No description provided'}} </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-dialog-close mat-button> Close </button>
</mat-dialog-actions>
