<mat-tab-group mat-align-tabs="center">
  <mat-tab *ngFor="let subjectCode of video" [label]="subjectCode.subjectCode" >
    <div class="container">
      <mat-card class="example-card" *ngFor="let video of subjectCode.videos" style="background-color:#ffcc80">
          <mat-card-title> {{ video.title }}</mat-card-title>
        <mat-card-content>
          <img  src="../../../assets/multimedia.svg"
          alt="Loading..." 
          class="lecvidheaderimg"
          (click)="openDialog(video)">
        </mat-card-content>
        <mat-card-content>
          <p style="text-align: center; font-size: medium;">
            {{ video.desc ? video.desc : 'No description provided'}}
          </p>
          <button mat-button (click)="openDialog(video)">
            <mat-icon> visibility </mat-icon>WATCH
          </button>
          <button mat-button (click)="download(video.title)">
            <mat-icon> file_download </mat-icon>DOWNLOAD
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <router-outlet></router-outlet>
</mat-tab-group>
