<div class="container">
  <strong style="margin-top: 20px">{{dialogClosed ? dialogClosed: ''}}</strong>
  <mat-card class="card" *ngFor="let note of notes">
    <mat-card-title class="uploadedNoteCardTitle"> {{ note.title }}</mat-card-title>
    <img mat-card-image
         src="../../../assets/pdf.svg"
         alt="Loading..."
         class="uploadedNoteCardImage"
    >
    <mat-card-content>
      <p>
        {{ note.desc ? note.desc : 'No description provided'}}
      </p>
    </mat-card-content>
    <mat-card-actions class="uploadedNoteCardActions">
      <button mat-button (click)="view(note)">
        <mat-icon> visibility </mat-icon>
      </button>
      <button mat-button (click)="download(note.title)">
        <mat-icon> file_download </mat-icon>
      </button>
      <button mat-button>
        <mat-icon> delete </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
