@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-pallete($mat-teal,300);
$my-accent: mat-pallete($mat-lime,300);

$my-theme: mat-light-theme($my-primary,$my-accent);

@include angular-material-theme($my-theme)
