<mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let subjectCode of notes" [label]="subjectCode.subjectCode" >
      <div class="container">
        <!-- <div *ngIf="subject.videos.length == 0">
          <p style="text-align: center"> No videos available for this subject</p>
        </div> -->
        <mat-card class="example-card" *ngFor="let note of subjectCode.notes">
          <mat-card-header>
            <mat-card-title> {{ note.title }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://www.pngkit.com/png/full/100-1009979_pdf-download-link-pdf-security-company-profile.png"
            alt="Loading..." class="example-header-image" (click)="view(note)">
          <mat-card-content>
            <p style="text-align: center">
              {{ note.desc ? note.desc : 'No description provided'}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="view(note)">
              <mat-icon> visibility </mat-icon>
            </button>
            <button mat-button (click)="download(note.title)">
              <mat-icon> file_download </mat-icon> 
            </button>
            <button mat-button>
              <mat-icon> delete </mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <router-outlet></router-outlet>
  </mat-tab-group>
  