<mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let subjectCode of notes" [label]="subjectCode.subjectCode" >
      <div class="container">
        <!-- <div *ngIf="subject.videos.length == 0">
          <p style="text-align: center"> No videos available for this subject</p>
        </div> -->
        <mat-card class="example-card" *ngFor="let note of subjectCode.notes" style="background-color:skyblue ">
            <mat-card-title style="text-align: center"> {{ note.title }}</mat-card-title>
          <img mat-card-image src="../../../assets/pdf.svg"
         style= "width: 120px;
          height: 120px;"
            alt="Loading..." class="example-header-image" (click)="view(note)">
          <mat-card-content>
            <p style="text-align: center">
              {{ note.desc ? note.desc : 'No description provided'}}
            </p>
            <button mat-button (click)="view(note)">
              <mat-icon> visibility </mat-icon>WATCH
            </button>
            <button mat-button (click)="download(note.title)">
              <mat-icon> file_download </mat-icon>DOWNLOAD 
            </button>
          </mat-card-content>
        
        </mat-card>
      </div>
    </mat-tab>
    <router-outlet></router-outlet>
  </mat-tab-group>
  