<mat-card fxLayoutAlign="centre centre">
  <mat-card-content>
    <div class="header">
      <P>Add Teacher</P>
    </div>
    <form (ngSubmit)="addTeacher()" name="addteachers" [formGroup]="addTeachers">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Enter teacher name" required />
        <mat-error *ngIf="!addTeachers.controls['name'].valid">
          give valid name
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>TeacherId</mat-label>
        <input formControlName="teacherId" matInput placeholder="Enter teacherId" required />
        <mat-error *ngIf="!addTeachers.controls['teacherId'].valid">
          give valid TeacherID
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Enter password" required />
        <mat-error *ngIf="!addTeachers.controls['password'].valid">
          give valid Password
        </mat-error>
      </mat-form-field>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>DeptNo</mat-label>
          <input formControlName="deptnum" matInput placeholder="no. of dept" required />
          <mat-error *ngIf="!addTeachers.controls['deptnum'].valid">
            enter the number of deptartments
          </mat-error>
        </mat-form-field>
        <button mat-raised-button type="button" (click)="addDept()" [disabled]="!display">Add</button>
        <button mat-raised-button type="button" (click)="clearDept()" [disabled]="display">Clear</button>
      </div>
      <ng-container formArrayName="dept">
        <div *ngFor="let g of dept.controls; let i=index">
          <mat-form-field appearance="outline">
            <mat-label> Select Department </mat-label>
            <mat-select [formControlName]="i">
              <mat-option *ngFor="let dept of Departments" [value]="dept">
                {{dept}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>SubNo</mat-label>
            <input formControlName="subnum" matInput placeholder="no. of subs" required />
            <mat-error *ngIf="!addTeachers.controls['subnum'].valid">
              enter the number of subjects
            </mat-error>
          </mat-form-field>
          <button mat-raised-button type="button" (click)="addSub()" [disabled]="!show">Add</button>
          <button mat-raised-button type="button" (click)="clearSub()" [disabled]="show">Clear</button>
        </div>
        <ng-container formArrayName="subjects">
          <div *ngFor="let g of subjects.controls; let i=index">
            <mat-form-field appearance="outline">
              <mat-label> Select Subject </mat-label>
              <mat-select [formControlName]="i">
                <mat-option *ngFor="let subject of Subjects" [value]="subject">
                  {{subject.subjectName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>
        <button mat-flat-button color="primary" type="submit" [disabled]="nodata">submit</button>
    </form>
  </mat-card-content>
</mat-card>